# If you add variables here, then don't forget to also add it to the webpack.config file so it gets loaded

# The URL that the frontend will use to connect to the backend
BASE_SERVER_URL=http://localhost:5000