# This is the port our server will be running on
PORT=5000

# This is the URL the server will use for the database. The example is an Atlas URL, but can be anything
MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/<dbName>?retryWrites=true&w=majority

# When running cypress tests, make sure to change the database. Our cypress will only seed/clean databases that are called cypressDatabase to protect our normal data
# MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/cypressDatabase?retryWrites=true&w=majority